---
#Проверка активного файрвола 

- name: Set firewall_acrive facts
  set_fact:
    firewalld_active: "{{ firewalld_status.status.ActiveState is defined and firewalld_status.status.ActiveState == 'active'}}"
    ufw_active: "{{ ufw_status.status.ActiveState is defined and firewalld_status.status.ActiveState == 'active'}}"

- name: Set firewall_type fact # Устанавливаем факт на основе статуса служб 
  set_fact:
    firewall_type: >-
      {% if firewalld_active -%}
        {{- 'firewalld' -}}
      {% elif ufw_active -%}
        {{- 'ufw' -}}
      {% else -%}
        {{- firewall_default_if_none | default('none') -}} 
      {% endif -%}

- name: Debug detected firewall type 
  debug:
    msg: "Detected firewall type: {{ firewall_type }}"

#Если установлен тип по умполчанию не none, проверяем, имеется ли такой пакет в системе. 
- name: Ensure default firewall package is installed if none active 
  package:
    name: "{{ firewall_type }}"
    state: present
  when: 
    - firewall_type != 'none'
    - not firewalld_active
    - not ufw_active

# Если firewalld был установлен по умолчанию и не был активен, запускаем его 
- name: Start and enable firewalld if set as default and not active 
  systemd_service: 
    name: firewalld 
    state: started
    enabled: True
  when:
    - firewall_type == 'firewalld'
    - not firewalld_active

# Если ufw был установлен по умолчанию и не был активен, запускаем его. 
- name: Enable ufw if set as default and not active
  ufw:
    state: enabled 
  when: 
    - firewall_type == 'ufw'
    - not ufw_active